h3 {
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 700;
}

table {
  text-align: center;
  vertical-align: middle;
}

th {
  font-size: 1.3em;
}

td {
  font-size: 1.1em;
}

.btn1 {
  text-align: center;
}

.input {
  width: 30%;
  vertical-align: middle;
}

.no-data {
  margin-top: 5%;
  font-size: 1.4em;
}
